/*
* Sede electronica
* [name project]
*/	

@import "nib"

/*
* Import fonts
*/
@import url('print.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');

//
// We declare the fonts for the headers, the content, the main font and the secondary font.
//

fontForHeaders()
	font-family: 'Source Sans Pro', 'Roboto', Arial, sans-serif;
	font-weight 400

fontForContent()
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight 500

fontMain()
	font-family: 'Source Sans Pro', Arial, sans-serif;

fontSecondary()
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight 500
	
// Parameters

	// Font Size Body
	fontSize 		= 16px

	//Color Web Entitie
	colorPrimary 	= #518900
	colorSecondary 	= #2b2b2b 
	colorGolden 	= #b88d32
	
	// Declarar variables de colores
	//	[description] Estas son las variables con los diferentes colores
	//	Estas variables solo funcionan en stylus, si desea usarlos en el portal debe incluirlos
	//	en el array de librerias de colores.
	//	
		
	colorAmber 			= #B23600
	colorAqua 			= #4FC1E9
	colorBitterSweet 	= #FC6E51
	colorBlue 			= #19739e
	colorGrass 			= #A0D468
	colorLime 			= #B8C91A
	colorLavender 		= #AC92EC
	colorMint 			= #48CFAD
	colorPinkRose 		= #EC87C0
	colorPurple 		= #6A006F
	colorRed 			= #de1d1d
	colorSunFlower 		= #FFCE54
	colorYellow 		= #FFCC0A
	colorTwitter 		= #00aced
	gradientGolden 		= linear-gradient(to right, rgba(180,149,66,1) 0%, rgba(244,217,102,1) 9%, rgba(107,76,35,1) 22%, rgba(168,133,56,1) 32%, rgba(241,241,174,1) 42%, rgba(180,150,66,1) 56%, rgba(113,77,18,1) 66%, rgba(241,241,174,1) 81%, rgba(180,150,66,1) 100%);
	 
	colorVisited = #4FC1E9
	colorSuccess = #8cc152
	colorDanger = #A62935
	colorInfo = #47abce
	colorFontInfo= #1F4788
	colorWarning = #ffce54
	colorFontWarning = #FFCC0A
	
	// scale gray
	colorGrayDark 	= #434A54
	colorGrayDark2  = #333
	colorGrayMedium = #AAB2BD
	colorGrayLigth 	= #EFEFEF
		
	// Zone Colours
	colorSectionTwo 	= colorRed
	colorSectionThree 	= colorYellow
	colorSectionFour 	= colorLime
	colorSectionFive 	= colorBlue
	
	// Libreria de colores
	//	[description] Array donde se almacena los colores. 
	//	Este sirve de referencia para generar los colores para  los background color, botones, border-color, entre otros
	//	Si desea incluir un color nuevo a la hoja de estilos, escriba el nombre del color seguido por dos puntos (:) y el hex del color
	//	

	// Procesa si el color es oscuro o claro y genera el contraste
	isDarkoLigth(color)
		if luminosity(color) >= .5
			return colorGrayDark
		else
			return white
	// Hacer un color % mas oscuro o claro
	doDark(color)
		return darken(color, 20%)
	doLight(color)
		return lighten(color, 50%)
		
/*
* General Tags
* [description] Tags y clases generales con relacion al framework css
*/

a
	color colorPrimary
	text-decoration none
	text-transform initial
	&:hover
		color colorSecondary
		text-decoration none
	&:visited, &:focus
		color colorVisited
		
body
	font-size fontSize
	fontForContent()
	overflow-x hidden
	&.faFontLg
		font-size 12px !important
	&.faFont2x
		font-size 16px
	&.faFont3x
		font-size 18px !important
blockquote
	background colorGrayLigth
	&.pull-right, &.blockquote-reverse
		padding 0.8em
		
h1, h2, h3,h4, h5, h6
	fontForHeaders()
	
::selection
	background colorPrimary
	color white
	
.btn
	background 		colorPrimary
	border 			0
	color 			white
	padding 		0.2em 0.5em
	text-transform 	initial
	transition all .25s ease-in-out
	&:hover
		background colorSecondary
		border 0
		color white
		transition all .25s ease-in-out
	&:visited
		color white
	&.btn-circle
		padding 1em
		border-radius 50%

/** Font Awesome */
fontAwesome()
	-webkit-font-smoothing antialiased
	display inline-block
	font normal normal normal 14px/1 FontAwesome
	font-size inherit
	margin-right 0.3em

/* label color */
#logoFooter
	display none

.error
	a, a:visited
		color white !important
		text-decoration underline
		
/*end label color */

.breadcrumb li
	color colorPrimary
.no-padding
	padding 0 !important
/*	
* Web Layouts
* [description] Escribimos el CSS de nuestro portal
*/
	
// header
header
	background-color white
	padding 0.5em 0
	box-shadow 0px 0px 5px 0px rgba(169, 167, 167, 0.75)
	position relative
	&:before
		content ""
		width 100%
		left 0
		bottom 0
		position absolute
		background gradientGolden
		display block
		height 5px
	.nxBlock
		padding 0
	.row
		margin 0
	.logo
		padding 0.2em 0 0 1em
		h1
			color #161616
			font-size 0.8em
			font-weight 500
			margin 0
			padding 0 1em
			display inline-block
			padding-left 3em
			span
				display block
				font-size 1.4em
				font-weight bold
			a
				color #161616
				&:visited, &:focus
					color #161616
					text-decoration none
		.logo-img
			max-width 280px
	.nav-bar
		.navbar-collapse
			border 0
		.navbar-default
			background-color transparent
			border 0
		nav
			ul.megamenu
				background-color colorPrimary
				border-radius 0.5em
				li
					a
						text-transform uppercase
						color white
						font-size 0.9em
						&:hover
							background-color colorGolden
							color white
					&:first-child a
						border-radius-top 0.5em
						border-radius-left 0.5em
					&:last-child a
						border-radius-bottom 0.5em
						border-radius-right 0.5em
					.dropdown
						a
							text-transform initial
							color colorGrayDark2
						
.zone-two
	.slider-main
		.nxBlock 
			padding 0			
		.slick-slide
			.item 
				a
					display block
					position relative
					&:before
						background-color rgba(black,0.5)
						content ""
						height 100%
						left 50%
						top 0
						width 60%
						z-index 1
						position  absolute
						transform skew(-20deg)
					.new-tools-box 
						left 60%
						position absolute
						top 0
						width 50%
						z-index 2
						background-color transparent
						padding-top 10%
						line-height 1
						p.title
							font-size 1.5em
							color white
							text-transform uppercase
							margin 0
						p.description
							font-size 3.5em
							color white
							margin 0
							width 80%
						
						
						
					

footer 
	background-color colorPrimary
	padding 1.5em 0 3em 0
	box-shadow 5px 0px 0px rgba(0,0,0,.25)
	margin-top 1em
	position relative
	*
		color white
		font-size 15px
	a
		color white
		text-decoration underline
		&:visited
			color white
	.list-enlaces
		padding-top 0
		a
			display block
			color white
	.logo-footer
		text-align center
		display block
		img
			width 200px
			display inline-block
.powered
	position absolute
	bottom 10px
	right 15px
	z-index 2
	a
		display inline-block
		font-size 0
		height 20px
		text-indent -9999px
		width 115px
		&.black-logo
			background url("../img/powered-by-nexura-black.png") no-repeat
			background-size contain
		&.white-logo
			background url("../img/powered-by-nexura-white.png") no-repeat
			background-size contain
/*	
* End layout
*/
/*	
* Web Layouts Sede Electronica
* [description] Escribimos el CSS de nuestro portal
*/
.modPath.breadcrumb
	font-size 0.8em
h1.dSede-name
	font-size 1.6em
	small
		display block
		font-size 0.5em
		font-weight 700
		letter-spacing 0.15em
		text-transform uppercase
		color colorPrimary
header.dSede-header
	.nxBlock
		padding 0
	.row
		margin 0
	.header-bar
		padding 0.7em 0
		background-color #f1f2f3
		box-shadow 0px 0px 10px rgba(0,0,0,.25)
		.toolbar-search
			.search-box
				height 40px
				border-radius 0
			.input-group-btn
				.btn
					border-radius 0
					font-size 17px
					height 40px
					margin-left 0.6em
					padding-left 1.2em
					padding-right 1.2em
		.toolbar
			padding 0
			overflow visible 
			.toolbar-menu
				float left
				margin-top 0.6em
				a
					font-size 0
					color colorGrayDark
					display block
					i
						font-size 18px
					&:hover
						i
							color colorPrimary
			.tool-login
				overflow visible 
				padding-top 0.2em 
				padding-right 0.5em
				ul.nav
					float right
					.dropdown
						a
							padding 0
						.dropdown-menu
							right 0
							left initial
							li
								a
									border-top 1px solid #ededed
									display block
									line-height 2.2
									padding 0.2em 1.2em 0.2em 2em
									position relative
									.fa
										left 0.5em
										position absolute
										top 10px
									&:hover
										background-color doLight(colorGrayLigth)
	.header-tools
		background-color white
		border-bottom 1px solid #ededed
		.title-page
			h1
				margin 0
				font-size 1.3em
				padding 0.6em
				color colorPrimary
				font-weight 300
		.nx-bar
			padding 0.5em 0 0em 0
			overflow visible
			text-align right
			a
				background-color colorGrayLigth
				color colorGrayDark
				font-size 1em
				display block
				padding 0.5em 1.3em 
				&:hover
					background-color doLight(colorGrayLigth)
					color colorPrimary
			.dropdown
				button
					border 0
					background-color colorGrayLigth
					color colorGrayDark
					font-size 1em
					display block
					padding 0.5em 1.3em 
					&:hover
						background-color doLight(colorGrayLigth)
						color colorPrimary
				.dropdown-menu
					right 0
					left initial
					padding 0.6em
					li
						a
							font-size 0.9em
							background-color transparent
							&:hover
								background-color doLight(colorGrayLigth)
	&.navbar-fixed-top
		box-shadow 0px 2px 5px rgba(0,0,0,0.1)
.dSede-content
	padding-top 4em
	h1
		font-size 1.6em
	.panel
		border 1px solid #ededed
		.panel-content-request
			padding 1em
			.panel-heading
				padding-left 0
				h2
					color colorPrimary
					display block
					font-size 1.4em
					font-weight 300
					margin 0
					padding-bottom 0.5em
					text-align left
				.btn-circle
					position absolute
					top 1em
					right 2em
					padding 0.7em 0.4em 0.7em 0.7em
					height 40px
					width 40px
			.panel-tab
				padding 0
				border 1px solid #ededed
				border-left 0
				border-right 0
				ul
					margin 0
					li
						a
							font-size 0.8em
							display block
							padding 0.5em 0.8em
							border-bottom 1px solid transparent
							transition 0.2s ease-in-out all
							.badge
								margin-top -1px
							&.active
								border-bottom 1px solid colorPrimary
								color colorPrimary
								.badge
									background-color colorPrimary
							&:hover
								border-bottom 1px solid colorPrimary
								color colorPrimary
								transition 0.2s ease-in-out all
								.badge
									background-color colorPrimary
			.panel-table-filter
				padding 0.5em 0
				label
					font-weight 300
					font-size 0.9em
			.panel-table
				thead
					tr
						td
							font-size 0.8em !important
							color colorGrayDark
				tbody
					.table-panel-ticket
						min-width 55px
						font-size 0.9em
					.table-panel-date
						font-size 0.8em
						small
							display block
					.table-panel-tramite
						font-size 0.9em
					.table-panel-status
						.label
							min-width 110px
							display inline-block
							padding 0.5em
			.panel-content-actions
				padding 1em 0
				ul
					li
						a
							display block
							color colorPrimary
							padding 0.4em 1em
							text-decoration underline
							font-size 0.9em
							&:hover
								background-color colorPrimary
								color white
								text-decoration none
			.row
				margin 0
		.panel-content-filter
			.panel-content-filter--heading
				padding 0.6em 0
				h2
					color colorPrimary
					display block
					font-size 1.4em
					font-weight 300
					margin 0
					padding-bottom 0.5em
					text-align left
				.btn-circle
					position absolute
					top 1em
					right 1em
					padding 0.7em
					height 40px
					width 40px
			.panel-content-filter--list
				background-color #f9f9f9
				padding 1em
				.nxBlock
					padding 0
				ul
					li
						display block
						a
							display block
							padding 1em 2.2em 1em 3.2em
							font-size 0.9em
							color colorGrayDark2
							border-bottom 1px solid #ededed
							position relative
							.fa
								position absolute
								left 10px
								font-size 1.6em
								top 25%
							.badge
								position absolute
								right 0
								background-color colorGrayDark
								top 25%
							&:hover
								background-color transparent
								color colorPrimary
								.title
									color colorPrimary
								.mediaPosition
									color colorPrimary
								.badge
									background-color colorPrimary
	.panel-content-filter--list
		padding 1em 2em
		.tab-general
			.ui-tabs .ui-tabs-nav 
				li
					background transparent
					margin 0 0.5em
					a.ui-tabs-anchor
						/*letter-spacing 0.12em*/
						padding 0.6em 1em
						border-bottom 1.5px solid transparent
						font-weight bold
						&:hover
							background-color transparent
							color colorBlue
			.ui-tabs-active
				a
					background-color transparent
					color colorBlue
					border-bottom 1.5px solid colorBlue !important
					border-color colorBlue !important
					&:focus
						outline 0
			.ui-tabs-panel
				padding 0 1em
				padding-left 2em
			.ui-widget-header
				border 0
				background none
				margin-bottom 15px
				font-family 'Poppins', Arial, sans-serif
				font-size 1.2em
		.item
			a
				display block
				padding 1em 2.2em 1em 2.2em
				font-size 0.9em
				color colorGrayDark
				border-bottom 1px solid #ededed
				position relative
				text-align left
				.fa.mediaPosition
					position absolute
					left 0
					font-size 1.6em
					top 25%
					color colorGrayDark
				.badge
					position absolute
					right 0
					background-color colorGrayDark
					top 25%
				&:hover
					color colorPrimary
					background-color transparent
					.fa.mediaPosition
						border-radius 0
						color colorPrimary
					.title
						color colorPrimary
					.badge
						background-color colorPrimary
.dSede-bottom
	.informacion-solicitud
		h3
			text-align center
			display block
			span
				display block
	.list-enlaces
		a
			display block
			padding 1em 2.2em 1em 2.2em
			font-size 0.9em
			color colorGrayDark
			border-bottom 1px solid #ededed
			position relative
			fontForContent()
			&:before
				position absolute
				left 0
				font-size 1.4em !important
				top 25%
				fontAwesome()
			.badge
				position absolute
				right 0
				background-color colorGrayDark
				top 25%
			&:hover
				color colorPrimary
				.badge
					background-color colorPrimary
	.ads-block
		a
			display block
			text-align center
			.image
				max-width 300px
				display inline-block
#main-content.dSede
	padding-top 4.4em
.dSede
	.tramite-item
		padding 0.5em
		&:nth-child(odd)
			background-color colorGrayLigth
			
@media screen and (max-width:991px)	
	body
		padding-top 0 !important
	header
		display block
		position relative !important
	.dSede-content
		padding-top 0
	.dSede .dSede-content .panel .panel-content .row-eq-height
		display block !important
@media screen and (max-width:768px)	
	.dSede 
		.dSede-content
			.panel .panel-content 
				.panel-content-filter--list
					.slick-track
						width 100% !important
						transform: inherit !important
						.slick-slide
							width 100% !important
							.item
								width 100%
					.slick-dots
						display none !important
						
		.bottom .list-enlaces
			padding 1em 2em
			.informacion-solicitud
				.slick-track
						width 100% !important
						transform: inherit !important
						.slick-slide
							width 100% !important
							.item
								width 100%
					.slick-dots
						display none !important

/*	
* End sede electronica
*/

/* Sidebar */
.wrapper
	display block

#sidebar
	background-color white
	box-shadow 3px 3px 3px rgba(0, 0, 0, 0.2)
	color colorGrayDark
	height 100vh
	left -250px
	overflow-y scroll
	padding 1em
	position fixed
	top 0
	transition all 0.3s
	width 250px
	z-index 999
	overflow scroll
	> div
		&:focus
			outline 0
	&.active
		left 0
	a
		display block
		padding 1em 1.8em
		font-size 0.8em
		font-weight 300
		position relative
		border-top 1px solid #ededed
		color colorGrayDark
		&:hover
			background-color colorGrayLigth
			text-decoration none
		.fa
			position absolute
			left 0
			top 5px
		&:visited
			color colorGrayDark
	.search-form
		input
			border-radius 0.8em
			color colorGrayMedium
		.fa-placeholder
			font-family "FontAwesome"
				
	.sidebar-header
		padding 1em 1em 1em 0
		h3
			margin 0
		p
			color white
			padding 0.8em 0	
			
		a[aria-expanded="true"]
			color colorGrayDark	 
	.sidebar-menu
		padding 1em 0.8em 1em 0.8em
	
	a[data-toggle="collapse"]
		position relative
	a[aria-expanded="false"]::before, a[aria-expanded="true"]::before
		content "\f067"
		display block
		position absolute
		right 10px
		top 15px
		fontAwesome()
		font-size 0.8em
	a[aria-expanded="true"]::before
		content "\f068"
		
.overlay
	position fixed
	width 100vw
	height 100vh
	background rgba(255, 255, 255, 0.7)
	z-index 998
	display none
	left 0
	top 0

#dismiss
	cursor pointer
	height 35px
	line-height 35px
	position absolute
	right 10px
	text-align center
	top 10px
	transition all 0.3s
	width 35px
	&:hover
		background-color #fff
		color colorBlue
/* end sidebar */

.configHighContrastTools
	* img
		opacity 0 !important
		
/* Buscador lateral */
.dModRegistro.dSede
	.input-group
		z-index 1
		.input-group-btn a
			padding 0.5em
	#accordion ul
		list-style none
		padding-left 20px
		a
			&:before
				font-family 'FontAwesome'
				content '\f105'
				display inline-block
			&:hover:before
				transition all 0.25s ease-in-out
				margin-left 5px;
/* end Buscador lateral */
/* Dynamic de iconos - internos */
.dModPublicaciones .nxBlockDesign1.nxBlockDynamicLayout1 .item a
	display block
	text-align center

@media (max-width: 767px)
	.dModPublicaciones #main-content #infoPrincipal
		padding inherit
		
/* login y register */
.dLogin
	padding-top 0
	header
		position relative
		.header-bar
			background-color transparent
			box-shadow none
		.toolbar-login
			.toolbar-login-ingresar, .toolbar-login-registro 
				display none
		.logo button
			color colorGrayDark2
	.login-box
		.loginBox-uwrapper
			.loginBox-form-title
				text-align center
				text-transform uppercase
				font-size 1.3em
				font-weight 600
				letter-spacing 0.15em
				margin-bottom 0.8em
			.loginBox-tabs
				margin 0
				li
					background-color colorGrayLigth
					text-align center
					min-height 49px
					a
						font-size 0.78em
						text-transform uppercase
						color colorGrayDark2
						display block
						padding 1.1em 0
						font-weight 700
						letter-spacing 0.1em
					h3
						font-size 0.78em
						text-transform uppercase
						margin 0 
						padding 1.2em
						font-weight 700
						letter-spacing 0.1em
					&.loginBox-tabs-item--active
						background-color white
						color colorPrimary
			.loginBox-wform
				background-color white
				padding 1.2em
				.form-group
					margin-left 0
					margin-right 0
					label
						font-size 0.7em
						text-transform uppercase
						font-weight 600
						color colorGrayDark2
						letter-spacing 0.15em
						margin-bottom 0.5em
					.loginBox-form-input.form-control
						background-color transparent
						border 0
						border-bottom 1px solid colorGrayDark2
						border-radius 0
						color colorGrayDark2
						box-shadow none
						&:focus
							box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
				input:-webkit-autofill,
				input:-webkit-autofill:hover, 
				input:-webkit-autofill:focus
				input:-webkit-autofill, 
				textarea:-webkit-autofill,
				textarea:-webkit-autofill:hover
				textarea:-webkit-autofill:focus,
				select:-webkit-autofill,
				select:-webkit-autofill:hover,
				select:-webkit-autofill:focus 
					border 0
					-webkit-text-fill-color #333
					-webkit-box-shadow 0 0 0px 1000px #fff inset
					transition background-color 5000s ease-in-out 0
					
			.loginBox-actions
				padding 0.8em 0
				.loginBox-actions-reminder
					color colorPrimary
					font-size 0.9em
				.loginBox-actions-button
					text-align right
					.btn
						border-radius 0
						padding 0.5em 1em
						text-transform uppercase
						font-size 0.8em
						letter-spacing 0.15em
						display inline-block
	.login-info
		padding-top 5%
		.section-login-texto
			padding 2em 0
			h3
				font-size 1.3em
				font-weight 300	
				line-height 1.5
			.btn, .c-btn
				font-size 0.78em
				letter-spacing 0.15em	
				padding 0.5em 1em
				margin 0.5em
				display inline-block
				font-weight 600
			.contenido1
				*
					color colorGrayDark2
				.c-btn
					color colorGrayDark2	
					border-color colorGrayDark2	
					&:hover 
						background-color colorGrayDark2
						color white
				.btn
					background-color colorGrayDark2
					color white
					&:hover 
						background-color white
						color colorGrayDark2
			.contenido2
				*
					color white
				.c-btn
					color white		
					border-color white
					&:hover 
						background-color white
						color colorGrayDark2
				.btn
					background-color white
					color colorGrayDark2
					&:hover 
						background-color colorGrayDark2
						color white
	.loginBox-register
		padding 0
		.btn
			display block
			padding 1em
			text-align center
			color white
			border-radius 0
			text-transform uppercase
			&:hover
				background-color colorGrayDark2
	.modPath.breadcrumb, h1
		display none
	.section_login
		padding-top 7%
	.wrapper
		background url("../../../media/bloque4228.jpg") #efefef no-repeat
		background-size cover
		background-position-y 50%
			
.dRegistro	
	padding-top 0
	header
		position relative
		.header-bar
			background-color transparent
			box-shadow none
		.toolbar-login
			.toolbar-login-ingresar, .toolbar-login-registro 
				display none
		.logo button
			color colorGrayDark2
	.registro-box
		.registroBox-uwrapper
			.registroBox-form-title
				text-align center
				text-transform uppercase
				font-size 1.3em
				font-weight 600
				letter-spacing 0.15em
				margin-bottom 0.8em
			.registroBox-tabs
				margin 0
				li
					background-color colorGrayLigth
					text-align center
					min-height 49px
					a
						font-size 0.78em
						text-transform uppercase
						color colorGrayDark2
						display block
						padding 1.1em 0
						font-weight 700
						letter-spacing 0.1em
					h3
						font-size 0.78em
						text-transform uppercase
						margin 0 
						padding 1.2em
						font-weight 700
						letter-spacing 0.1em
					&.registroBox-tabs-item--active
						background-color white
						color colorPrimary
			.registroBox-wform
				background-color white
				padding 1.2em
				legend
					font-size 0.7em
					text-transform uppercase
					font-weight 600
					color colorPrimary
					letter-spacing 0.15em
					text-align left
				.form-group
					margin-left 0
					margin-right 0
					label
						font-size 0.7em
						text-transform initial
						font-weight 600
						color colorGrayDark2
						letter-spacing 0.15em
						margin-bottom 0.5em
						text-align left
					.form-control
						background-color transparent
						border 0
						border-bottom 1px solid colorGrayDark2
						border-radius 0
						color colorGrayDark2
						box-shadow none
						&:focus
							box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
				input:-webkit-autofill,
				input:-webkit-autofill:hover, 
				input:-webkit-autofill:focus
				input:-webkit-autofill, 
				textarea:-webkit-autofill,
				textarea:-webkit-autofill:hover
				textarea:-webkit-autofill:focus,
				select:-webkit-autofill,
				select:-webkit-autofill:hover,
				select:-webkit-autofill:focus 
					border 0
					-webkit-text-fill-color #333
					-webkit-box-shadow 0 0 0px 1000px #fff inset
					transition background-color 5000s ease-in-out 0
					
			.registroBox-actions
				padding 0.8em 0
				.registroBox-actions-reminder
					color colorPrimary
					font-size 0.9em
				.registroBox-actions-button
					text-align right
					.btn
						border-radius 0
						padding 0.5em 1em
						text-transform uppercase
						font-size 0.8em
						letter-spacing 0.15em
						display inline-block
	.registro-info
		padding-top 5%
		.section-registro-texto
			padding 2em 0
			h3
				font-size 1.3em
				font-weight 300	
				line-height 1.5
			.btn, .c-btn
				font-size 0.78em
				letter-spacing 0.15em	
				padding 0.5em 1em
				margin 0.5em
				display inline-block
				font-weight 600
			.contenido1
				*
					color colorGrayDark2
				.c-btn
					color colorGrayDark2	
					border-color colorGrayDark2	
					&:hover 
						background-color colorGrayDark2
						color white
				.btn
					background-color colorGrayDark2
					color white
					&:hover 
						background-color white
						color colorGrayDark2
			.contenido2
				*
					color white
				.c-btn
					color white		
					border-color white
					&:hover 
						background-color white
						color colorGrayDark2
				.btn
					background-color white
					color colorGrayDark2
					&:hover 
						background-color colorGrayDark2
						color white
	.registroBox-register
		padding 0
		.btn
			display block
			padding 1em
			text-align center
			color white
			border-radius 0
			text-transform uppercase
			&:hover
				background-color colorGrayDark2
	.modPath.breadcrumb, h1
		display none
	.section-registro
		padding-top 2em
	.wrapper
		background url("../../../media/bloque4264.jpg") #efefef no-repeat
		background-size cover
		background-position-x 50%		
/* end login y register */
/* mod contextual */
.modContentLateral ul li span
	&.list-group-item
		background colorPrimary
		color white
	&.count
		background colorPrimary
/* end mod contextual */	
/* tramites */
.contenidoTramite .tituloTab
	color colorPrimary
	
/* tramites */
.contenidoTramite .tituloTab
	color colorPrimary
.dModTramites
	h1
		font-size 1.7em
	.tramite
		background-color #f5f5f5
		&:nth-child(even)
			background-color white
		h2
			background-color transparent
			font-size 1.4em
			color colorPrimary
			a
				color colorPrimary
				&:visited
					color colorPrimary
.contenidoTramite .btn.azul
	background-color colorPrimary
	color white					
/* end tramites */
/* sidebar-a */
.mainContent-sidebar
	hr
		display none
	.sidebar-menu-accordeon
		.ui-accordion .ui-accordion-header
			background-color colorPrimary
			color white
			&:before
				color white
			strong
				font-weight 300
		.ui-accordion .ui-accordion-content
			background-color colorGrayLigth
			.listSection li a:hover
				background-color colorPrimary
				color white
		.ui-accordion .ui-accordion-header:hover, .ui-accordion .ui-accordion-header:focus
			background-color colorPrimary
			
/* en sidebar-a*/
/* pagination */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	background-color colorPrimary
    border-color colorPrimary
 
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	background-color colorSecondary
	border-color colorSecondary
.pagination
	li
		a
			color colorPrimary
		&.active
			a 
				background-color colorPrimary
				color white
				border-color colorPrimary
/* end pagination */
/* form */
.input-group 
	.input-group-btn
		vertical-align top
	.error
		font-size 0.9em
		
/* datepicekr */
.ui-datepicker .ui-datepicker-buttonpane
	float left
	width 100%
	margin 0
/* end datepicker */