/*
* Cooptenjo
* [name project]
*/	

@import "nib"

/*
* Import fonts
*/
@import url('print.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import 'font.styl';
//
// We declare the fonts for the headers, the content, the main font and the secondary font.
//

fontForHeaders()
	font-family: 'Source Sans Pro', 'Roboto', Arial, sans-serif;
	font-weight 400

fontForContent()
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight 500

fontMain()
	font-family: 'Source Sans Pro', Arial, sans-serif;

fontSecondary()
	font-family: 'Source Sans Pro', Arial, sans-serif;
	font-weight 500
	
// Parameters

	// Font Size Body
	fontSize 		= 16px

	//Color Web Entitie
	colorPrimary 	= #518900
	colorSecondary 	= #2b2b2b 
	colorGolden 	= #b88d32
	
	// Declarar variables de colores
	//	[description] Estas son las variables con los diferentes colores
	//	Estas variables solo funcionan en stylus, si desea usarlos en el portal debe incluirlos
	//	en el array de librerias de colores.
	//	
		
	colorAmber 			= #B23600
	colorAqua 			= #4FC1E9
	colorBitterSweet 	= #FC6E51
	colorBlue 			= #19739e
	colorGrass 			= #A0D468
	colorLime 			= #B8C91A
	colorLavender 		= #AC92EC
	colorMint 			= #48CFAD
	colorPinkRose 		= #EC87C0
	colorPurple 		= #6A006F
	colorRed 			= #de1d1d
	colorSunFlower 		= #FFCE54
	colorYellow 		= #FFCC0A
	colorTwitter 		= #00aced
	gradientGolden 		= linear-gradient(to right, rgba(180,149,66,1) 0%, rgba(244,217,102,1) 9%, rgba(107,76,35,1) 22%, rgba(168,133,56,1) 32%, rgba(241,241,174,1) 42%, rgba(180,150,66,1) 56%, rgba(113,77,18,1) 66%, rgba(241,241,174,1) 81%, rgba(180,150,66,1) 100%);
	 
	colorVisited = #4FC1E9
	colorSuccess = #8cc152
	colorDanger = #A62935
	colorInfo = #47abce
	colorFontInfo= #1F4788
	colorWarning = #ffce54
	colorFontWarning = #FFCC0A
	
	// scale gray
	colorGrayDark 	= #434A54
	colorGrayDark2  = #333
	colorGrayMedium = #AAB2BD
	colorGrayLigth 	= #EFEFEF
		
	// Zone Colours
	colorSectionTwo 	= colorGolden
	colorSectionThree 	= colorYellow
	colorSectionFour 	= colorLime
	colorSectionFive 	= colorBlue
	
	// Libreria de colores
	//	[description] Array donde se almacena los colores. 
	//	Este sirve de referencia para generar los colores para  los background color, botones, border-color, entre otros
	//	Si desea incluir un color nuevo a la hoja de estilos, escriba el nombre del color seguido por dos puntos (:) y el hex del color
	//	

	// Procesa si el color es oscuro o claro y genera el contraste
	isDarkoLigth(color)
		if luminosity(color) >= .5
			return colorGrayDark
		else
			return white
	// Hacer un color % mas oscuro o claro
	doDark(color)
		return darken(color, 20%)
	doLight(color)
		return lighten(color, 50%)
		
/*
* General Tags
* [description] Tags y clases generales con relacion al framework css
*/

a
	color colorPrimary
	text-decoration none
	text-transform initial
	&:hover
		color colorSecondary
		text-decoration none
	&:visited, &:focus
		color colorVisited
		
body
	font-size fontSize
	fontForContent()
	overflow-x hidden
	&.faFontLg
		font-size 12px !important
	&.faFont2x
		font-size 16px
	&.faFont3x
		font-size 18px !important
blockquote
	background colorGrayLigth
	&.pull-right, &.blockquote-reverse
		padding 0.8em
		
h1, h2, h3,h4, h5, h6
	fontForHeaders()
	
::selection
	background colorPrimary
	color white
	
.btn
	background 		colorPrimary
	border 			0
	color 			white
	padding 		0.2em 0.5em
	text-transform 	initial
	transition all .25s ease-in-out
	&:hover
		background colorSecondary
		border 0
		color white
		transition all .25s ease-in-out
	&:visited
		color white
	&.btn-circle
		padding 1em
		border-radius 50%

/** Font Awesome */
fontAwesome()
	-webkit-font-smoothing antialiased
	display inline-block
	font normal normal normal 14px/1 FontAwesome
	font-size inherit
	margin-right 0.3em

/* label color */
#logoFooter
	display none

.error
	a, a:visited
		color white !important
		text-decoration underline
		
/*end label color */

.breadcrumb li
	color colorPrimary
.no-padding
	padding 0 !important
/*	
* Web Layouts
* [description] Escribimos el CSS de nuestro portal
*/
	
// header
header
	background-color white
	padding-bottom 0.5em
	box-shadow 0px 0px 5px 0px rgba(169, 167, 167, 0.75)
	position relative
	&:before
		content ""
		width 100%
		left 0
		bottom 0
		position absolute
		background gradientGolden
		display block
		height 8px
	.nxBlock
		padding 0
	.row
		margin 0
	.logo
		padding 0.2em 0 0 1em
		h1
			color #161616
			font-size 0.8em
			font-weight 500
			margin 0
			padding 0 1em
			display inline-block
			padding-left 3em
			span
				display block
				font-size 1.4em
				font-weight bold
			a
				color #161616
				&:visited, &:focus
					color #161616
					text-decoration none
		.logo-img
			max-width 280px
	.nav-bar
		overflow visible 
		.navbar-collapse
			border 0
		.navbar-default
			background-color transparent
			border 0
		nav
			ul.megamenu
				background-color colorPrimary
				border-radius 0.5em
				li
					> a
						text-transform uppercase
						color white
						font-size 0.9em
						&:hover
							background-color colorGolden
							color white
						&:visited
							color white
					&:first-child a
						border-radius 0.5em
					&:last-child a
						border-radius 0.5em
					.dropdown-menu
						min-width 0
						right inherit
						a
							color colorGrayDark2
							display block
							font-size 1.1em
							line-height 1.3
							padding 0.5em
							padding 1em
							text-align left
							text-transform initial
							&:hover
								background-color colorGrayLigth
								color colorPrimary
						h2
							color colorPrimary
							margin 0 
							margin-bottom 0.5em
							position relative
							&:before
								background-color colorPrimary
								bottom -0.2em
								content ""
								display block
								height 0.1em
								left 0
								position absolute
								width 0.6em
							span
								font-size 0.5em
								font-weight bold
								letter-spacing 0.05em
								text-transform uppercase
	.toolbar
		overflow visible 
		padding-bottom 0.7em
		ul
			margin 0
			float right
			a
				color #161616
				font-size 0.9em
				&:hover
					color colorPrimary
			.dropdown
				
				button
					border 0
					background-color transparent
					color colorGrayDark
					font-size 0.9em
					display block
					padding 0
					&:hover
						background-color doLight(colorGrayLigth)
						color colorPrimary
				.dropdown-menu
					right 0
					left initial
					padding 0.6em
					li
						a
							background-color transparent
		.open > .dropdown-menu
			min-width 200px
@media screen and (max-width: 1200px)
	header .nav-bar
		nav ul.megamenu	li a
			padding-left 0.5em
			padding-right 0.5em
			
@media screen and (max-width: 992px)
	header 
		.nav-bar
			nav ul.megamenu
				text-align center
				li 
					display inline-block
					float none !important
					a
						width 100%
						padding-left 1em
						padding-right 1em
		.navbar-collapse
			padding 0
		.navbar-nav
			float none !important
		.logo
			margin-bottom 0.5em
			a
				display block
				text-align center
				img
					display inline-block
@media screen and (max-width:500px)
	header .toolbar ul .dropdown
		position inherit
		.dropdown-menu
			left 0
			width 100%
			min-width 0 !important
@media screen and (max-width: 768px)
	header 
		.nav-bar
			margin-top -3.7em
			nav ul.megamenu
				background-color white
				padding-top 1em
				li 
					display block
					float none !important
					a
						width 100%
						padding 0.5em
						color colorGrayDark2
						font-size 1.1em
						
			.dropdown-menu
				text-align center
				max-width none !important
				width 100%
				a
					font-size 1.2em !important
					text-align center !important
		.logo a
			text-align left
		
			
/** Zona de beneficios de la cooperativa **/
colorSection = colorSectionTwo
.zone-two
	background-color colorGrayLigth
	.title-zone
		h3
			color colorSection
			position relative
			&:before
				content ""
				width 20px
				height 5px
				position absolute
				bottom -5px
				left 0
				background-color colorGolden
	.slider-main
		.nxBlock 
			padding 0			
		.slick-slide
			.item 
				a
					display block
					position relative
					&:before
						background-color rgba(black,0.5)
						content ""
						height 100%
						left 50%
						top 0
						width 60%
						z-index 1
						position  absolute
						transform skew(-20deg)
					.new-tools-box 
						left 60%
						position absolute
						top 0
						width 50%
						z-index 2
						background-color transparent
						padding-top 10%
						line-height 1
						p.title
							font-size 1.5em
							color white
							text-transform uppercase
							margin 0
						p.description
							font-size 3.5em
							color white
							margin 0
							width 80%
	.button-featured
		margin-top -5em
		ul 
			display grid
			grid-template-columns repeat(4, 1fr)
			a
				display block
				width 100%
				position relative
				img					
					width 100%
					height auto
				&:hover
					&:after
						content ""
						background-color rgba(colorPrimary, 0.5)
						width 96%
						height 89%
						position absolute
						top 6px
						left 5px
						border-radius 10px
	.iconos-beneficios
		.slick-slide
			a
				display inline-flex
				justify-items center
				align-items center
				width 100%
				.mediaPosition
					display inline-block
					float left
					width 22%
					color colorGolden
				.title
					display inline-block
					float left
					width 70%
					color colorGrayDark2
				&:hover
					background-color white
		.nxBlockDynamicLinks
			text-align center
			.btn
				background-color transparent
				border 1px solid colorGrayDark2
				border-radius 0
				color colorGrayDark2
				display inline-block
				letter-spacing 0.15em
				padding 0.3em 2em
				text-transform uppercase
				&:hover
					background-color colorGolden
					color white
					-webkit-filter: brightness(1.5); /* Safari 6.0 - 9.0 */
					filter: brightness(1.5)
	.btn-afiliarse
		display block
		&:hover
			img
				-webkit-filter: brightness(1.2); /* Safari 6.0 - 9.0 */
				filter: brightness(1.2)

	.layout1902
		position relative
	.enlaces-simuladores
		background-color white
		border-radius 0 0 10px 10px
		box-shadow 0px 0px 8px 0px rgba(0,0,0,0.75)
		display inline-block
		position absolute
		right 0
		top 0
		width auto 
		.nxBlock
			padding 1em
		a
			display inline-block
			color colorGrayDark2
			font-size 1.2em 
			font-weight bold
			line-height 1
			&:nth-of-type(1)
				text-align left
				padding-right 60px
				position relative
				margin-right 5px
				&:after
					content ""
					background url("../img/ico-simulador.jpg") no-repeat
					background-size contain
					width 50px
					height 50px
					display inline-block
					position absolute
					right 0
					top -10px
			&:nth-of-type(2)
				text-align right
			small
				color colorPrimary
				font-size 0.5em
				display block
				text-transform uppercase
				font-weight normal
			&:hover
				color colorGolden
				small
					color colorGolden

@media screen and (max-width: 992px)				
	.zone-two 
		.slider-main .slick-slide
			.item a
				.new-tools-box 
					p.title
						font-size 1.5em
					p.description
						font-size 2.2em
		.button-featured
			ul 
				grid-template-columns repeat(4, 1fr)
		.beneficios-layout .row
			margin 0
		.iconos-beneficios
			.slick-slide
				.item
					float left
					a
						display inline-block
						width 100%
						text-align center
						.mediaPosition
							display block
							width 100%
						.title
							display block
							width 100%
	.enlaces-simuladores
		left 35%
		right inherit
		
	.btn-afiliarse
		text-align center
		img
			max-width 320px
			height auto
			margin 0 auto
			display inline-block

@media screen and (max-width: 768px)				
	.zone-two 
		.slider-main .slick-slide
			.item 
				a
					&:before
						background-color rgba(black,0.5)
						height 100%
						left 0%
						width 100%
						position  absolute
						transform skew(0deg)
				.new-tools-box 
					left 0 !important
					width 100% !important
					text-align center
					p.title
						font-size 1.5em !important
						width 100%
					p.description
						font-size 2.8em !important
						width 100%  !important
	
		.button-featured
			margin-top 0
			ul 
				grid-template-columns repeat(2, 1fr)
				a img					
					width 80%
					margin 0 auto
					height auto
				a:hover:after
					width 79%
					left 39px
		.enlaces-simuladores
			box-shadow none
			left 0
			padding 2em 1em
			position relative
			right inherit
			text-align center
			width 100%
			a
				font-size 2em
				&:nth-of-type(1)
					&:after
						top 0
	.zone-two .iconos-beneficios .slick-slide .item a .title
		font-size 1.2em 
	
@media screen and (max-width: 550px)				
	.zone-two 
		.button-featured
			margin-top 0
			ul 
				grid-template-columns repeat(1, 1fr)
				a img					
					width 60%
					margin 0 auto
					height auto	
					
@media screen and (max-width: 290px)				
	.zone-two 
		.enlaces-simuladores
			a
				display block
				padding 1em 0 !important
				text-align center !important
				&:nth-of-type(1)
					&:after
						content ""						
						background none
.zone-three
	padding 2em 0
	.tab-general
		.tabs-bottom
			min-height 300px
		.ui-tabs-nav
			width 100%
			text-align center
			margin-bottom 1em
			li
				display inline-block
				float none
				a
					display block
					padding 0.35em 1.5em
					text-transform uppercase
					letter-spacing 0.15em
					font-size 0.9em
		.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
			background-color colorPrimary
			color white
			position relative
			&:before
				border-left 15px solid transparent
				border-right 15px solid transparent
				border-top 15px solid colorPrimary
				bottom -0.6em
				content ""
				height 0
				left 50%
				margin-left -15px
				position absolute
				width 0
	.slider-news
		.slick-slide
			.item
				a
					.image
						width 25%
						height 70px
						display inline-block
						float left
						transition 0.15s ease-in-out all
						&:after
							content ""
						&:before
							transition 0.15s ease-in-out all
					.title
						width 75%
						display inline-block
						height auto
						transition 0.15s ease-in-out all
						font-size 1em
					.date
						display none
						float left
						padding 0.5em
					&:hover
						.image
							&:before
								background-color rgba(colorPrimary,0.6)
								content ""
								transition 0.15s ease-in-out all
							&:after
								content ""
						.title
							color colorPrimary
							transition 0.15s ease-in-out all	
		.nxBlockDynamicLinks		
			text-align center
			ul
				margin 0
			.btn
				background-color transparent
				border 1px solid colorGrayDark2
				border-radius 0
				color colorGrayDark2
				display inline-block
				font-size 0.8em
				letter-spacing 0.15em
				padding 0.3em 2em
				text-transform uppercase
				&:hover
					background-color colorPrimary
					color white
	.slider-events
		.slick-slide
			div:nth-child(even)
				background-color colorGrayLigth
			.item
				a
					.image
						display none
					.title
						display inline-block
						transition 0.15s ease-in-out all
						font-size 1em
						height 4.5em
					.date
						display inline-block
						float left
						transition 0.15s ease-in-out all
						color colorPrimary
						height 4.5em
						padding 0.4em
						.day
							font-size 1.8em
					&:hover
						.date
							background-color colorPrimary
							color white
						.title
							color colorPrimary
							transition 0.15s ease-in-out all	
							
		.nxBlockDynamicLinks		
			text-align center
			ul
				margin 0
			.btn
				background-color transparent
				border 1px solid colorGrayDark2
				border-radius 0
				color colorGrayDark2
				display inline-block
				font-size 0.8em
				letter-spacing 0.15em
				padding 0.3em 2em
				text-transform uppercase
				&:hover
					background-color colorPrimary
					color white
	.ads-section
		padding-top 5%

@media screen and (max-width: 768px)				
	.zone-three
		.logos-slideset
			text-align center
			.slick-slide .item
				display block !important
				width 100% !important
				text-align center !important
				a 
					display block
					img
						display inline-block !important
	.zone-three .slider-news .slick-slide .item a .title
		font-size 1.2em
					
.bottom
	background-color colorGrayLigth
	.desc-bottom
		position relative
		h3
			color colorPrimary
			letter-spacing 0.05em
			font-weight bold
			padding-left 1.7em
		p
			padding-left 2.7em	
			font-weight bold
		&:before
			fontAwesome()
			content "\f095"
			font-size 3em
			color colorPrimary
			position absolute
			left 0
			top 30%
	.enlaces-bottom
		text-align center
		.nxBlock
			padding 0
		a
			display block
			padding 0.3em 2em
			margin 0.5em
			background-color colorPrimary
			color white
			border 1px solid transparent
			transition 0.1s ease-in-out all
			text-transform uppercase
			font-size 0.9em
			font-weight 300
			&.c-btn
				transition 0.1s ease-in-out all
				border-color colorGrayDark2
				color colorGrayDark2
				background-color transparent
			&:hover
				transition 0.1s ease-in-out all
				background-color colorGrayDark2
				color white
@media screen and (max-width: 768px)				
	.bottom
		.desc-bottom
			text-align center
			&:before
				content ""
			p, h3
				padding-left 0
				text-align center
		.row
			margin-left 0
			margin-right 0

footer 
	background-color #1e1e1e
	padding 1em
	position relative
	&:after
		content ""
		width 100%
		left 0
		top 0
		position absolute
		background gradientGolden
		display block
		height 8px

	*
		color white
		font-size 15px
	a
		color white
		text-decoration underline
		&:visited
			color white
	.list-enlaces
		padding-top 0
		text-align center
		a
			display inline-block
			color white
			margin 0.5em
	.logo-footer
		text-align center
		display block
		img
			width 200px
			display inline-block
.powered
	position absolute
	bottom 10px
	right 15px
	z-index 2
	a
		display inline-block
		font-size 0
		height 20px
		text-indent -9999px
		width 115px
		&.black-logo
			background url("../img/powered-by-nexura-black.png") no-repeat
			background-size contain
		&.white-logo
			background url("../img/powered-by-nexura-white.png") no-repeat
			background-size contain
/*	
* End layout
*/
/*	
* Web Layouts Sede Electronica
* [description] Escribimos el CSS de nuestro portal
*/
.cInterno, .cInternoAmplio
	min-height 500px
	padding-top 2em
	padding-bottom 2em
	
.modPath.breadcrumb
	font-size 0.8em


/* Sidebar */
.wrapper
	display block

.configHighContrastTools
	* img
		opacity 0 !important
		
/* mod contextual */
.modContentLateral ul li span
	&.list-group-item
		background colorPrimary
		color white
	&.count
		background colorPrimary
/* end mod contextual */	
/* tramites */
.contenidoTramite .tituloTab
	color colorPrimary
	
/* sidebar-a */
.mainContent-sidebar
	hr
		display none
	.sidebar-menu-accordeon
		.ui-accordion .ui-accordion-header
			background-color colorPrimary
			color white
			&:before
				color white
			strong
				font-weight 300
		.ui-accordion .ui-accordion-content
			background-color colorGrayLigth
			.listSection li a:hover
				background-color colorPrimary
				color white
		.ui-accordion .ui-accordion-header:hover, .ui-accordion .ui-accordion-header:focus
			background-color colorPrimary
			
/* en sidebar-a*/
/* pagination */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	background-color colorPrimary
    border-color colorPrimary
 
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	background-color colorSecondary
	border-color colorSecondary
.pagination
	li
		a
			color colorPrimary
		&.active
			a 
				background-color colorPrimary
				color white
				border-color colorPrimary
/* end pagination */
/* form */
.input-group 
	.input-group-btn
		vertical-align top
	.error
		font-size 0.9em
		
/* datepicekr */
.ui-datepicker .ui-datepicker-buttonpane
	float left
	width 100%
	margin 0
/* end datepicker */
.dModUsuarios 
	background-color #efefef
	.modContent
		.login
			background-color white
			box-shadow 0px 0px 5px 0px rgba(#d8d8d8,1);
			form
				.formLogin
					padding  1.2em 1.6em
				.form-group
					margin-left 0
					margin-right 0
					label
						font-size 0.7em
						text-transform uppercase
						font-weight 600
						color colorGrayDark2
						letter-spacing 0.15em
						margin-bottom 0.5em
					.form-control
						background-color transparent
						border 0
						border-bottom 1px solid colorGrayDark2
						border-radius 0
						color colorGrayDark2
						box-shadow none
						&:focus
							box-shadow inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6)
				input:-webkit-autofill,
				input:-webkit-autofill:hover, 
				input:-webkit-autofill:focus
				input:-webkit-autofill, 
				textarea:-webkit-autofill,
				textarea:-webkit-autofill:hover
				textarea:-webkit-autofill:focus,
				select:-webkit-autofill,
				select:-webkit-autofill:hover,
				select:-webkit-autofill:focus 
					border 0
					-webkit-text-fill-color #333
					-webkit-box-shadow 0 0 0px 1000px #fff inset
					transition background-color 5000s ease-in-out 0
		.btn
			border-radius 0
			padding 0.5em 1em
			text-transform uppercase
			font-size 0.8em
			letter-spacing 0.15em
			display inline-block

// alto contraste
.configHighContrastTools
	header:before, footer:after, .zone-two .title-zone h3:before
		background white !important
	.zone-three .slider-news .slick-slide .item a:hover .image:before
		background-color transparent
		border 1px solid white
	.zone-three .tab-general .ui-state-active a:before, .zone-three .tab-general .ui-state-active a:link:before, .zone-three .tab-general .ui-state-active a:visited:before
		border-color black
	
.configTextOnlyTools
	header:before, footer:after, .zone-two .title-zone h3:before
		background black !important
	.zone-three .tab-general .ui-state-active a:before, .zone-three .tab-general .ui-state-active a:link:before, .zone-three .tab-general .ui-state-active a:visited:before
		border-color black
	.zone-three .slider-news .slick-slide .item a:hover .image:before
		background-color transparent
		border 1px solid black
	header .toolbar ul .dropdown .dropdown-menu
		background-color white  !important
	.bottom .enlaces-bottom a:hover
		background-color black
		color white
	